@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

body{
background-image: linear-gradient(to right top, #DA4C9D, #CC5EB5, #B96FC9, #A47ED8, #8D8BE1, #7497EA, #58A2EE, #3BACEE, #00B8EC, #00C3E5
, #00CCD9, #39D4CA);
background-repeat: no-repeat;
background-size: cover;
margin-left: 11.4%;
margin-right: 11.4%;
}

.container-fluid{
margin-left: -1.2%;
margin-right: 0%;
}

.navbar-brand img{
border: 1.2px solid white;
height: 50px;
width: 50px;
border-radius: 50%;
}

.navbar a{
font-family: 'Oleo Script', cursive;
font-size: 120%;
}

#carouselExampleCaptions img{
height: 60vh;
}

#carouselExampleCaptions{
width: 102.4%;
}

#carouselExampleCaptions h5{
font-family: 'Oleo Script', cursive;
color: red;
font-size: bolder;
}

#carouselExampleCaptions p{
color: brown;
font-size: bold;
}

.foot{
background-color: white;
opacity: 0.5;
}


.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:150px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

$font-primary: 'Poppins',Arial, sans-serif;
$primary: #46b5d1;

body{
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
	color: lighten($black,40%);
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

.bg-primary{
	background: $primary !important;
}

#cImage{
width: 25vw;
height: 70vh;
}
#contact{
background-color: white;
margin-left: 0%;
width: 102.5%;
}
a{
text-decoration: none;
}
#services{
margin-left: 0%;
background-image: url('/assets/serveone.jpg');
background-repeat: no-repeat;
background-size: cover;
width: 102.5%;
text-align: center;
}

#services h4{
font-family: 'Oleo Script', cursive;
color: red;
font-size: bolder;
}

#partners h4{
font-family: 'Oleo Script', cursive;
color: red;
font-size: bolder;
}


#services img{
border: 1px solid white;
border-radius: 50%;
width: 200px;
height: 200px;
}

#services button{
border-radius: 50%;
margin-bottom: 2%;
}

#partners{
margin-left:0%;
background-color: white;
text-align: center;
width: 102.5%;
}

#partners img{
border-radius:50%;
width: 100px;
height: 100px;
}

#partners button{
border-radius: 50%;
margin-bottom: 6%;
}

#mycontact{
margin-left: -1.2%;
background-image: url('/assets/serveone.jpg');
background-repeat: no-repeat;
background-size: contain;
width: 102.4%;
text-align: center;
}

#mycontact h4{
margin-top: 5%;
font-family: 'Oleo Script', cursive;
color: red;
font-size: bolder;
}

#contactus{
background-color: white;
}

#contactus h4{
margin-top: 5%;
font-family: 'Oleo Script', cursive;
color: red;
font-size: bolder;
}
#bats{
border-radius: 50%;
}


