*{
  box-sizing: border-box;
  margin:o;
  padding:0;
  background-color: #BBDFC5;
  }
  /* body{
  height: 100vh;
   background: linear-gradient(to right top, #da4c9d, #cc5eb5, #b96fc9, #a47ed8, #8d8be1, #7497ea, #58a2ee, #3bacee, #00b8ec, #00c3e5, #00ccd9, #39d4ca);
   background-repeat: no-repeat;
   color: white;
  } */
  .heading {
    text-align: center;
    font-family: fantasy;
    padding: 80px;
    font-weight: 100;
    font-style: oblique;
  }
  .heading h1 {
    font-size: 50px;
  }

  .heading h6 {
    font-size: 15px;
    font-weight: 100;
    opacity: 0.5;
  }
  .search-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2F3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

  }

  .search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

  }

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

.search-box:hover > .search-text {
  width: 240px;
  padding: 0 6px;

}

.search-box:hover > .search-btn {
  background: white;
}

.platform {
  background-color: #2F3640;
}