
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Title</title>
</head>
<body>
<nav class="container navbar navbar-expand-sm fixed-top mt-3">

<a href="#"><h4 style="color:black;">geek<span style="color:white">Dev</span></h4></a>
    <ul class="navbar-nav ml-auto p-3">
        <li class="nav-item">
            <a class="nav-link" href="/">
                Home
            </a>
            <li>
        <a class="nav-link" href="/view/collaborators">
                Collaborators
            </a>
        </li>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Sign Up <i class="fa-solid fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="/create/student">Student</a>
                <a class="dropdown-item" href="/create/developer">Developer</a>
            </ul>
        </div>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Login <i class="fa-solid fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="/add/student">Student</a>
                <a class="dropdown-item" href="/add/developer">Developer</a>
            </ul>
        </div>

    </ul>
</nav>
<div class="container" id="description">
    <div class="row">
        <div class="col-md-6">
            <h4>FIND A PROJECT THAT SUITS<br>
                YOU TO COLLABORATE ON.</h4>
            <p class="pt-4">When our apps become popular, it’s an achievement for the whole team. <br>
                It’s a true joy to see app or game being used by someone on a bus or train.</p>

            <div class="projects d-flex justify-content-around pt-3 pb-3">
                <p class="text-center">
                    700+<br>
                    student projects
                </p>&nbsp;&nbsp;
                <p class="text-center">
                    500+ <br>
                    Android projects
                </p>&nbsp;&nbsp;
                <p class="text-center">
                    1000+<br>
                    Excercise challenges
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center bounce">
            <img  src="/images/an1.png"  width="500px" height="500px" style="transform: rotate(20deg);">
        </div>
<!--        <div class="main-content mt-5">-->
<!--            {{#block "content"}}-->
<!--            {{/block}}-->

<!--        </div>-->
    </div>
</div>
<!--<div class="container-fluid">-->
<!--    <ul class="foote_bottom_ul_amrc">-->
<!--        <li><a href="/">Home</a></li>-->
<!--        <li><a href="/android">Android</a></li>-->
<!--        <li><a href="/fullstack">Full Stack</a></li>-->
<!--        <li><a href="/career">Career</a></li>-->
<!--        <li><a href="/contact">Clients</a></li>-->
<!--        <li><a href="/contact/new">Contact us</a></li>-->
<!--    </ul>-->
<!--    &lt;!&ndash;foote_bottom_ul_amrc ends here&ndash;&gt;-->
<!--    <p class="text-center">Copyright @2022 | Designed  by <a href="https://github.com/Okellothomas/Geek-Collaborator" style="color:white">Geek Collaborators</a></p>-->

<!--    <ul class="social_footer_ul">-->
<!--        <li><a href="https://web.facebook.com/?_rdc=1&_rdr"><i class="fab fa-facebook-f"></i></a></li>-->
<!--        <li><a href="https://twitter.com/tweeter?lang=en"><i class="fab fa-twitter"></i></a></li>-->
<!--        <li><a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin"></i></a></li>-->
<!--        <li><a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a></li>-->
<!--    </ul>-->
<!--    &lt;!&ndash;social_footer_ul ends here&ndash;&gt;-->
<!--</div>-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>