{{#partial "content"}}

    <nav class="navbar">
        <div class="container">
            <a href="/" class="btn aqua-gradient text-white"></a>
        </div>

        <div class="container-fluid">
            <div class="col-6">
                <h3>Animals!</h3>
                <img src="/images/anim.jpg">
                <hr>
                <a href="/animal/new" class="btn btn-outline-danger"> Add Animal</a>
            </div>
            <div class="col-6">
                <h3>Endangered Animals!</h3>
                <img src="/images/endanger.jpg">
                <hr>
                <a href="/endangered/new" class="btn btn-outline-success">Add Endangered</a>
            </div>
            <hr>
            <div class="col-12">
                <hr>
                <h3>Sighting!</h3>
                <img src="/images/sight.jpg">
                <hr>
                <a href="/sighting/new" class="btn btn-outline-primary">Add Sighting</a>
            </div>
        </div>
    </nav>

{{/partial}}

{{> layout.hbs}}