{{#block "header"}}
    <!Doctype html>
    <html>
    <head>
        <title>{{#block "title"}}Geek Collaborators{{/block}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel='stylesheet' href='/index.css'>
    </head>
    <body >
    <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/assets/logo.png" alt="Our logo"> <a class="nav-link active" aria-current="page" href="https://github.com/Okellothomas/Geek-Collaborator">Geeks' Farm</a>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Android</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Full Stack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Career</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <a class="nav-link" href="#">Login</a>
                    <a class="nav-link" href="#">Sign up</a>
                </form>
            </div>
    </nav>
    <!-- the nav bar -->
    <!--the end of nav bar-->
        <div class="container-fluid">
            {{#block "content"}}

            {{/block}}
        </div>
    <!--End main template-->
    {{#block "footer"}}
        <footer class="footer">
            <div class="container bottom_border">
                <div class="row">
                    <div class=" col-sm-4 col-md col-sm-4  col-12 col" style="display:none">
                        <h5 class="headin5_amrc col_white_amrc pt2" style="display:none"></h5>
                        <!--headin5_amrc-->
                        <p class="mb10" style="display:none"></p>

                    </div>


                    <div class=" col-sm-4 col-md  col-6 col" style="display:none">
                        <h5 class="headin5_amrc col_white_amrc pt2"></h5>
                        <!--headin5_amrc-->
                        <ul class="footer_ul_amrc">
                            <li><a href="http://webenlance.com"></a></li>
                        </ul>
                        <!--footer_ul_amrc ends here-->
                    </div>


                    <div class=" col-sm-4 col-md  col-6 col" style="display:none">
                        <h5 class="headin5_amrc col_white_amrc pt2"></h5>
                        <!--headin5_amrc-->
                        <ul class="footer_ul_amrc">
                            <li><a href=""></a></li>
                        </ul>
                        <!--footer_ul_amrc ends here-->
                    </div>


                    <div class=" col-sm-4 col-md  col-12 col" style="display:none">
                        <h5 class="headin5_amrc col_white_amrc pt2" style="display:none"></h5>
                        <!--headin5_amrc ends here-->

                        <ul class="footer_ul2_amrc" style="display:none">
                            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p><a href="#"></a></p></li>
                        </ul>
                        <!--footer_ul2_amrc ends here-->
                    </div>
                </div>
            </div>


            <div class="container">
                <ul class="foote_bottom_ul_amrc">
                    <li><a href="/">Home</a></li>
                    <li><a href="/android">Android</a></li>
                    <li><a href="/fullstack">Full Stack</a></li>
                    <li><a href="/career">Career</a></li>
                    <li><a href="/contact">Clients</a></li>
                    <li><a href="/contact/new">Contact us</a></li>
                </ul>
                <!--foote_bottom_ul_amrc ends here-->
                <p class="text-center">Copyright @2022 | Designed  by <a href="https://github.com/Okellothomas/Geek-Collaborator" style="color:white">Geek Collaborators</a></p>

                <ul class="social_footer_ul">
                    <li><a href="https://web.facebook.com/?_rdc=1&_rdr"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/tweeter?lang=en"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a></li>
                </ul>
                <!--social_footer_ul ends here-->
            </div>

        </footer>
    {{/block}}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    </body>
    </html>
{{/block}}