<h1>$fullstack.getName() fullstack:</h1>

<table class="thead-dark">
    <table class="thread-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
            <th class="col">Owner Contact</th>
        </tr>
    </table>

    #foreach($fullstack in $fullstack.getFullstack())

    <tbody>
    <tr>
        <td>$fullstack.getName()</td>
        <td>$fullstack.getOwner()</td>
        <td>$fullstack.getOwner_contact()</td>
    </tr>
    </tbody>
    #end
</table>
<div class="space"></div>

<a href="/fullstackCollaborators/$fullstack.getId()/projects/new"><button class="btn btn-cyan">Add a collaborator</button></a>
<a href="/projects"><button class="btn btn-cyan">Back to Projects</button></a>
