<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container-fluid fixed-top">
    <h3 class="text-center pt-3"><a style="color:black;" href="/">Home</a></h3>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="pt-2 pb-2">Please fill this form for easy tracking of your collaboration</h4>
                <form action="" id="myForm1">
                    Github Username: <input type="text" placeholder="Your github username..." required>&nbsp;&nbsp;
                    Project Code: <input type="text" placeholder="Project Code eg. JS01" required>&nbsp;&nbsp;
                    <button class="btn btn-success"> submit</button>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="theprojects mx-5">
    <div class="java col-md-5 ">
        <h4 class="text-center head pb-3">Java/Spark</h4>
        <div class="card my-3" style="width:27rem;">
            <div class="card-header">Project Code: JS01</div>
            <div class="card-body">
                <h5 class="card-title">Scientific Calculator</h5>
                <p class="card-text">A Scientific Calculator is a very powerful and general purpose calculator.
                    <br>In addition to basic arithmetic functions, it provides trigonometric functions, logarithms, powers, roots</p>
                <div id="more" style="display: none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/hossamhuhu/Scientific-Calculator-By-Java-GUI.git">scientific calculator</a> </p>
                    <p>2. Create a branch called ft-frame</p>
                    <p>3. Create a new Class Called Frame.java, and work on frames.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p></p>
                </div>
                <a href="#" class="btn btn-primary" onclick="more()" id="mbtn">more</a>
            </div>
        </div>

        <div class="card my-3" style="width:27rem;">
            <div class="card-header">Project Code: JS01</div>
            <div class="card-body">
                <h5 class="card-title">Snake Game</h5>
                <p class="card-text">Implementation of Snake game in Java with animations and graphics.</p>
                <div id="more1" style="display:none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/kaserashi/Snake-Game">snake game</a> </p>
                    <p>2. Create a branch called ft-game</p>
                    <p>3. Create a new Class Called Game.java, and work on Arrays.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p></p>
                </div>
                <a href="#" class="btn btn-primary" onclick="more1()" id="mbtn">more</a>
            </div>
        </div>

        <div class="card my-3" style="width:27rem;">
            <div class="card-header">Project Code: JS01</div>
            <div class="card-body">
                <h5 class="card-title">Course Enrollment App</h5>
                <p class="card-text">JAVA OOP PROJECT - This project is about Student Enrollment App where student can enroll in subject and pay.</p>
                <div id="more2" style="display:none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/muqrock/Student_Course_Enrollment_App/tree/main/studentdatabaseapp">enrollment app</a> </p>
                    <p>2. Create a branch called ft-enroll</p>
                    <p>3. Create a new Class Called Student.java, and generate a constructor with student details and work on getters and setters.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p></p>
                </div>
                <a href="#" class="btn btn-primary" onclick="more2()" id="mbtn">more</a>
            </div>
        </div>

        <div class="card my-3" style="width:27rem;">
            <div class="card-header">Project Code: JS01</div>
            <div class="card-body">
                <h5 class="card-title">Online bookstore</h5>
                <p class="card-text">The Online Book Shopping Store to manage, buy, add, remove and sell books. <br>
                    Book name and Quantity selection, auto receipt generated and payment options.<br>
                    Login and logout security for both user and admin. Seperate Profile for all..</p>
                <div id="more3" style="display:none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/shashirajraja/onlinebookstore">online boo store</a> </p>
                    <p>2. Create a branch called ft-login</p>
                    <p>3. Create a new Class Called Login.java, and work on the front end UI.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p></p>
                </div>
                <a href="#" class="btn btn-primary" onclick="more3()" id="mbtn">more</a>
            </div>
        </div>

        <a href="https://github.com/topics/java-project">More projects </a>
    </div>
    <div class="android col-md-5">
        <h4 class="text-center head pb-3">Android</h4>
        <div class="card my-3"  style="width:27rem;">
            <div class="card-header">Project Code: AN01</div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary" onclick="more()">more</a>
            </div>
        </div>

        <div class="card my-3"  style="width:27rem;">
            <div class="card-header">Project Code: AN02</div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary" onclick="more()">more</a>
            </div>
        </div>

        <div class="card my-3"  style="width:27rem;">
            <div class="card-header">Project Code: AN03</div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary" onclick="more()">more</a>
            </div>
        </div>

        <a href="https://github.com/topics/android-beginners-project">More projects </a>
    </div>

    <div class="quote col-md-2">
        <h5>What is Collaboration Software? </h5>
        <p>
            Collaboration software enables <br>
            the sharing of information by <br>
            providing an online or intranet-
            <br>based environment for virtual teamwork.
        </p>
    </div>

</div>
<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>

