<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container-fluid fixed-top head2">
    <h3 class="text-center pt-3"><a style="color:black;" href="/android">Back</a></h3>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="pt-2 pb-2">Pick a project to collaboration and send your github username and the project code
                to <a>geekDev@es.gfk.com</a></h4>
            </div>
        </div>

    </div>
</div>
<div class="theprojects mx-5">
    <div class="java col-md-5 ">
        <h4 class="text-center head pb-3" style="text-decoration:underline;">Java/Spark</h4>
        <div class="card my-3" style="width:27rem;">
            <div class="card-header">Project Code: JS01 <span class="text-warning" style="float:right">Deadline: 2022-07-25</span> </div>
            <div class="card-body">
                <h5 class="card-title">Scientific Calculator</h5>
                <p class="card-text">A Scientific Calculator is a very powerful and general purpose calculator.
                    <br>In addition to basic arithmetic functions, it provides trigonometric functions, logarithms, powers, roots</p>
                <div id="more" style="display: none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/hossamhuhu/Scientific-Calculator-By-Java-GUI.git">scientific calculator</a> </p>
                    <p>2. Create a branch called ft-frame</p>
                    <p>3. Create a new Class Called Frame.java, and work on frames.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p></p>
                </div>
                <a href="#" class="btn btn-primary" onclick="more()" id="mbtn">more</a>
                </p>
            </div>
        </div>

        <div class="card my-3" style="width:27rem;">
            <div class="card-header">Project Code: JS02 <span class="text-warning" style="float:right">Deadline: 2022-07-25</span></div>
            <div class="card-body">
                <h5 class="card-title">Snake Game</h5>
                <p class="card-text">Implementation of Snake game in Java with animations and graphics.</p>
                <div id="more1" style="display:none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/kaserashi/Snake-Game">snake game</a> </p>
                    <p>2. Create a branch called ft-game</p>
                    <p>3. Create a new Class Called Game.java, and work on Arrays.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p></p>
                </div>
                <a href="#" class="btn btn-primary" onclick="more1()" id="mbtn">more</a>
<!--                <p class="pt-2"><div class="card-header bg-warning mt-2">deadline: <span id="demo"></span></div>-->
<!--                </p>-->
            </div>
        </div>

        <div class="card my-3" style="width:27rem;">
            <div class="card-header">Project Code: JS03 <span class="text-warning" style="float:right">Deadline: 2022-07-25</span></div>
            <div class="card-body">
                <h5 class="card-title">Course Enrollment App</h5>
                <p class="card-text">JAVA OOP PROJECT - This project is about Student Enrollment App where student can enroll in subject and pay.</p>
                <div id="more2" style="display:none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/muqrock/Student_Course_Enrollment_App/tree/main/studentdatabaseapp">enrollment app</a> </p>
                    <p>2. Create a branch called ft-enroll</p>
                    <p>3. Create a new Class Called Student.java, and generate a constructor with student details and work on getters and setters.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p></p>
                </div>
                <a href="#" class="btn btn-primary" onclick="more2()" id="mbtn">more</a>
<!--                <p class="pt-2"><div class="card-header bg-warning mt-2">Time remaining: <span id="demo"></span> </div>-->
<!--                </p>-->
            </div>
        </div>

        <div class="card my-3" style="width:27rem;">
            <div class="card-header">Project Code: JS04 <span class="text-warning" style="float:right">Deadline: 2022-07-25</span></div>
            <div class="card-body">
                <h5 class="card-title">Online bookstore</h5>
                <p class="card-text">The Online Book Shopping Store to manage, buy, add, remove and sell books. <br>
                    Book name and Quantity selection, auto receipt generated and payment options.<br>
                    Login and logout security for both user and admin. Seperate Profile for all..</p>
                <div id="more3" style="display:none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/shashirajraja/onlinebookstore">online book store</a> </p>
                    <p>2. Create a branch called ft-login</p>
                    <p>3. Create a new Class Called Login.java, and work on the front end UI.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p></p>
                </div>
                <a href="#" class="btn btn-primary" onclick="more3()" id="mbtn">more</a>
<!--                <p class="pt-2"><div class="card-header bg-warning mt-2">Time remaining: <span id="demo"></span> </div>-->
<!--                </p>-->
            </div>
        </div>

        <p class="pt-3 pb-5 boun" style="margin-left:130px;"><a href="https://github.com/topics/java-project" class="btn btn-primary"> <i class="fa-solid fa-square-arrow-right"></i>&nbsp;&nbsp;More projects </a>
        </p>
    </div>
    <div class="java col-md-5">
        <h4 class="text-center head pb-3" style="text-decoration:underline;">Android</h4>
        <div class="card my-3"  style="width:27rem;">
            <div class="card-header">Project Code: AN01 <span class="text-warning" style="float:right">Deadline: 2022-07-25</span></div>
            <div class="card-body">
                <h5 class="card-title">Theme Sample</h5>
                <p class="card-text">Choose from available color themes. Switch Light/Dark mode.</p>
                <div id="more4" style="display:none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/fari-zma/ThemeSample">theme sample</a> </p>
                    <p>2. Create a branch called ft-gif</p>
                    <p>3. Create a new Class Called Gif.java, which extends  AppCompatActivity and work on oncreate method.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p>Layout</p>
                    <img src="https://github.com/fari-zma/ThemeSample/raw/master/src/video.gif" height="100px" width="100px">
                </div>
                <a href="#" class="btn btn-primary" onclick="more4()">more</a>
<!--                <p class="pt-2"><div class="card-header bg-warning mt-2">Time remaining: <span id="demo"></span> </div>-->
                </p>
            </div>
        </div>

        <div class="card my-3"  style="width:27rem;">
            <div class="card-header">Project Code: AN02 <span class="text-warning" style="float:right">Deadline: 2022-07-25</span></div>
            <div class="card-body">
                <h5 class="card-title">A grocery buying app</h5>
                <p class="card-text">A grocery buying app allowing consumers to purchase and order groceries before you get to the store.</p>
                <div id="more5" style="display:none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/towcar/GroceryShop">grocery buying app</a> </p>
                    <p>2. Create a branch called ft-menu</p>
                    <p>3. Create a new Class Called Menu.java, and work on the lists of items available.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <p></p>
                </div>
                <a href="#" class="btn btn-primary" onclick="more5()">more</a>
                </p>
            </div>
        </div>

        <div class="card my-3"  style="width:27rem;">
            <div class="card-header">Project Code: AN03 <span class="text-warning" style="float:right">Deadline: 2022-07-25</span></div>
            <div class="card-body">
                <h5 class="card-title">Android Library Management Project</h5>
                <p class="card-text">A school management app where you can log in and access the school study facilities.</p>

                <div id="more6" style="display:none;">
                    <p>To Do</p>
                    <p>1. Clone this repo link: <a href="https://github.com/rizwansoaib/Android-Library-Management">Library management system</a> </p>
                    <p>2. Create a branch called ft-login</p>
                    <p>3. Create a new Class Called Login.java, and work on the front end UI.</p>
                    <p>4. Keep pushing your work to your branch</p>
                    <img src="https://user-images.githubusercontent.com/29729380/50546540-02c62300-0c4f-11e9-8af5-b66e1bb92055.gif">
                </div>
                <a href="#" class="btn btn-primary" onclick="more6()">more</a>
            </div>
        </div>

        <p class="pt-3 pb-5" style="margin-left:130px;"><a href="https://github.com/topics/android-beginners-project" class="btn btn-primary"> <i class="fa-solid fa-square-arrow-right"></i>&nbsp;&nbsp;More projects </a>
        </p>

    </div>

    <div class="quote col-md-2">
        <h5>What is Collaboration Software? </h5>
        <p>
            Collaboration software enables <br>
            the sharing of information by <br>
            providing an online or intranet-
            <br>based environment for virtual teamwork.
        </p>
    </div>

</div>
<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>

